/* 
stack the different pane utop the canvasHolder...
*/

#canvasHolder {
    position: relative;
    top:30px;
    left:30px;

}

.pane {
    position: absolute;
    border-top: 2px solid #e0e0e0; 
    border-right: 2px solid #e0e0e0; 
    border-left: 2px solid #e0e0e0; 
    top: 0px;
    left: 0px;
}

#background {
    z-index: 10;
}
#timeline {
    z-index: 20;
    border-bottom: 2px solid #e0e0e0; 
}
#glasspane {
    z-index: 30;
}
#bottom {
    position:relative;
    border-top: 2px solid #e0e0e0; 
    top:750px;
    left:30px;
}